/trabalho-dw-1/build/
/trabalho-dw-2/nbproject/private/
/HibernateTest/nbproject/private/
/HibernateTest/build/
/trabalho-dw-2/build/
/dw-trabalho-2(não funciona web)/build/
/dw-trabalho-2(não funciona web)/nbproject/private/